<manifest
    package="com.bearded.common"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Enables the access to the GPS location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Enables the access to the network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Enables the access to internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Enables the access to the device MAC address -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Declares an android application.-->
    <application android:allowBackup="true"/>
</manifest>
