<manifest
    package="com.bearded.common"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Enables the access to the GPS location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Declares an android application.-->
    <application android:allowBackup="true"/>
</manifest>
